node_modules/
.env
FRONTEND/web/node_modules/
FRONTEND/web/.pnp
FRONTEND/web/.pnp.js
FRONTEND/web/coverage
FRONTEND/web/build
FRONTEND/web/.DS_Store
FRONTEND/web/.env.local
FRONTEND/web/.env.development.local
FRONTEND/web/.env.test.local
FRONTEND/web/.env.production.local

FRONTEND/web/npm-debug.log*
FRONTEND/web/yarn-debug.log*
FRONTEND/web/yarn-error.log*


FRONTEND/mobile/node_modules/
